
body{
background:#070b18;
color:white;
font-family:Arial,"Microsoft JhengHei";
margin:0;
}
header{
text-align:center;
padding:35px;
background:#111827;
}
h1{color:#22d3ee;font-size:42px;}
.card{
margin:20px;
padding:25px;
background:#111827;
border-radius:20px;
border:1px solid #334155;
}
.lane{
height:100px;
border-bottom:1px dashed #475569;
position:relative;
}
.car{
position:absolute;
top:30px;
font-size:40px;
}
.info{
position:absolute;
top:75px;
}
table{
width:100%;
border-collapse:collapse;
}
td,th{
padding:12px;
border-bottom:1px solid #334155;
}
